.*
!.git*
_*

HSV1/Results/*

!HSV1/Results/HSV1_gB
HSV1/Results/HSV1_gB/*
!HSV1/Results/HSV1_gB/metadata.tsv
!HSV1/Results/HSV1_gB/nucleotide.fasta

!HSV1/Results/HSV1_gD
HSV1/Results/HSV1_gD/*
!HSV1/Results/HSV1_gD/metadata.tsv
!HSV1/Results/HSV1_gD/nucleotide.fasta

!HSV1/Results/HSV1_gH
HSV1/Results/HSV1_gH/*
!HSV1/Results/HSV1_gH/metadata.tsv
!HSV1/Results/HSV1_gH/nucleotide.fasta

!HSV1/Results/HSV1_gL
HSV1/Results/HSV1_gL/*
!HSV1/Results/HSV1_gL/metadata.tsv
!HSV1/Results/HSV1_gL/nucleotide.fasta