.*
!.git*
_*

####################################---START HSV1---#######################################
HSV1/Results/*

!HSV1/Results/HSV1_gB
HSV1/Results/HSV1_gB/*
!HSV1/Results/HSV1_gB/metadata.tsv
!HSV1/Results/HSV1_gB/nucleotide.fasta

!HSV1/Results/HSV1_gD
HSV1/Results/HSV1_gD/*
!HSV1/Results/HSV1_gD/metadata.tsv
!HSV1/Results/HSV1_gD/nucleotide.fasta

!HSV1/Results/HSV1_gH
HSV1/Results/HSV1_gH/*
!HSV1/Results/HSV1_gH/metadata.tsv
!HSV1/Results/HSV1_gH/nucleotide.fasta

!HSV1/Results/HSV1_gL
HSV1/Results/HSV1_gL/*
!HSV1/Results/HSV1_gL/metadata.tsv
!HSV1/Results/HSV1_gL/nucleotide.fasta
####################################---END HSV1---#########################################

####################################---START EBV---########################################
EBV/Results/*

!EBV/Results/EBV_gB
EBV/Results/EBV_gB/*
!EBV/Results/EBV_gB/metadata.tsv
!EBV/Results/EBV_gB/nucleotide.fasta

!EBV/Results/EBV_gp42
EBV/Results/EBV_gp42/*
!EBV/Results/EBV_gp42/metadata.tsv
!EBV/Results/EBV_gp42/nucleotide.fasta

!EBV/Results/EBV_gH
EBV/Results/EBV_gH/*
!EBV/Results/EBV_gH/metadata.tsv
!EBV/Results/EBV_gH/nucleotide.fasta

!EBV/Results/EBV_gL
EBV/Results/EBV_gL/*
!EBV/Results/EBV_gL/metadata.tsv
!EBV/Results/EBV_gL/nucleotide.fasta
####################################---END EBV---##########################################